
.specials-card {
  color: #edefee; 
  border-radius: 10%;
  width: 350px;
  height: 480px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.specials-card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.specials-card .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.specials-card :is(h1, h2, h3, p) {
  color: #333333;
}

.specials-card h4 {
  color: #ee9972;
  font-weight: 800;
}

.specials-card p {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: left;
}

.specials-card .card-btn {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.specials-card .order-btn {
  color: #333333;
  border: none;
  transition: .4s;
  cursor: pointer;
  font-size: 18pt;
  font-weight: 600;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: left;
}

.specials-card .icon {
  font-size: 28pt;
  font-weight: 600;
}

.specials-card .order-btn:active {
  transform: translate(4px);
  box-shadow: 0px 0px 1px rgba(0,0,0,0,.2);
  background-color: #a19349;
  border-bottom: none;
}