/* TOP-LEVEL CSS */

.hero {
  background-color: #495E57;
  height: 60vh;
}

.specials {
  height: 90vh;
}

.testimonials {
  height: 70vh;
  background-color: #edefee;
}

.about {
  height: 80vh;
  position: relative;
}

/* CONTAINERS, 2nd-level CSS */

.homepage .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.homepage .flex {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

/* grid */
.hero .container {
  align-items: top;
  margin-top: 2rem;
}

/* flex */
.specials .container {
  margin-top: 5rem;
  margin-left: 0;
  margin-right: 0;
}

/* flex */
.testimonials .container {
  justify-content: center;
  align-items: center;
}

/* grid */
.about .container {
  padding: 1rem;
  align-items: center;
  margin-top: 1rem;
}

/* 3rd-level CSS */

/* Hero */

.hero h2, .hero .lead-text {
  color: #edefee;
}

.hero .left {
  justify-content: space-between;
  text-align: left;
}

.hero button {
  margin-top: 1rem;
}

.hero .right {
  text-align: right;
}

.hero h1 {
  color: #F4CE14;
}

.hero p {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.hero img {
  max-height: 60vh;
}

/* Specials */

.specials .row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.specials :is(h1, h2) {
  color: #333333;
}

/* Testimonials */

.testimonials .reviews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  padding: 2rem;
}

.feedback {
  border: 3px solid black;
  padding: 3rem;
}

.testimonials :is(h1,h2) {
  color: #333333;
}

/* About */

.about .content {
  color: #333333;
}

.about .left {
  justify-content: space-between;
  text-align: left;
}

.about .right {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  position: relative;
}

.about .image-stack--top {
  grid-column: 2 / span 4;
  grid-row: 1;
  padding-top: 35%;
  z-index: 1;
}

.about .image-stack--bottom {
  grid-column: 5 / 8;
  grid-row: 1;
  padding-bottom: 35%;
}

.about img {
  height: 35vh;
}

.about h2 {
  margin-bottom: 2rem;
}

.about .lead-text {
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* Media Queries */ 

@media screen and (max-width: 1150px) {
  .about {
    height: 90%;
  }
  .about .container {
    grid-template-columns: 1fr;
    gap: .5rem;
    margin-bottom: 1rem;
  }
  .about .right {
    all: unset;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .about .image-stack--bottom {
    all: unset;
  }
  .about .image-stack--top {
    all: unset;
  }
  .about img {
    padding: 1rem;
  }
}

@media screen and (max-width: 940px) {
  .hero, .specials, .testimonials {
    height: 90%;
  }

  .hero .container {
    grid-template-columns: repeat(1,1fr);
    gap: .5rem;
  }


  .testimonials .reviews {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: .5rem;
  }
}

