.menu {
  height: 80vh;
  background-color: #495e57;
}

.menu .container {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.menu .menu-card {
  margin: 3rem 3rem 3rem 3rem;
  display: flex;
  width: 70%;
  flex-direction: column;
  background-color: #edefee;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.menu-card {
  color: #333333;
  justify-content: space-between;
}

.menu h1,
.menu p {
  padding: 1rem;
}

.menu h4 {
  margin-top: 4rem;
  padding: 1rem;
}

.menu .lead-text {
  font-style: italic;
  color: #333333;
}