@import url('https://fonts.googleapis.com/css2?family=Karla:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Karla';
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Karla', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.outer-box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  gap: 20px;
}

.container {
  max-width: 1920px;
  height: 100%;
  margin: auto;
  grid-column-start: 3;
  grid-column-end: 11;
}

/* Font Guidelines */

h1, h2 {
  font-family: 'Markazi Text';
}

h3, h4, h5, h6, p {
  font-family: 'Karla';
}

/* display title */
h1 {
  font-size: 64pt;
  font-weight: 500;
}

/* sub title */
h2 {
  font-size: 40pt;
  font-weight: 400;
}

/* section title */
h3 {
  font-size: 20pt;
  font-weight: 800;
}

/* card title */
h4 {
  font-size: 18pt;
  font-weight: 700;
}

/* section categories */
h5 {
  font-size: 16pt;
  font-weight: 800;
}

h6 {
  font-size: 16pt;
  font-weight: 600;
}

/* CTA */
.lead-text {
  font-size: 18pt;
  font-weight: 500;
}

.highlight-text {
  font-size: 16pt;
  font-weight: 500;
}

.para-text {
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.5;
  max-width: 30ch;
}

p {
  font-size: 16pt;
  font-weight: 400;
}

.error-text {
  font-size: 16pt;
  color: rgb(240, 38, 38);
  padding-top: 5px;
}

.yellow-text {
  color: #f4ce14;
}



img {
  border-radius: 10%;
}

.btn {
  color: #333333;
  padding: 12px 24px;
  background-color: #F4CE14;
  border: none;
  border-radius: 8px;
  transition: .4s;
  cursor: pointer;
  font-size: 18pt;
  font-weight: 700;
}

.btn:active {
  transform: translate(4px);
  box-shadow: 0px 0px 1px rgba(0,0,0,0,.2);
  background-color: #a19349;
  border-bottom: none;
}

.icon:active {
  transform: translate(5px);
  box-shadow: 0px 0px 1px rgba(0,0,0,0,.2);
  border-bottom: none;
}