.item-card {
  height: 100%;
  background-color: #ee9972;
  display: flex;
  padding: 3rem;
}

.item-card .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #edefee;
  border-radius: 15px;
  width: 850px;
  padding: 2rem;
}

.item-card * {
  color: #333333;
}

.item-card h2 {
  color: #ee9972;
  font-weight: 800;
}

.item-card .row {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
}


.item-card .row-1 {
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.item-card .row-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.item-card .row-2 .highlight-text {
  padding: 1.5rem;
  font-style: italic;
  font-size: 18pt;
  font-weight: 600;
}

.item-card .row-3 {
  justify-content: space-between;
  align-items: end;
}

.item-card .dish-img {
  border-radius: 10%;
  height: auto;
  width: 600px;
}

.item-card .icon {
  height: auto;
  width: 100px;
}

.extra-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 25rem;
}

.extra-container, .extra-container h3 {
  display: flex;
  width: 27rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.extra-item {
  display: flex;
  font-size: 16pt;
  background-color: #fff;
  align-items: center;
  border: 0.5px solid black;
  width: 17rem;
}

.extra-item p {
  margin-left: 0.5rem;
}

.extra-scale {
  display: flex;
  justify-content: center;
  font-size: 16pt;
  padding: 0.5rem;
  width: auto;
}

.extra-scale button {
  width: 2.5rem;
  font-size: 20pt;
  font-weight: 500;
  background-color: #495E57;
  color: #fff;
  border-radius: 10%;
}

.extra-options .quantity {
  background-color: #fff;
  font-size: 20pt;
  font-weight: 400;
  padding: 5px;
  width: 2.5rem;
  text-align: center;
}