.order {
  height: 100%;
  background-color: #495E57;
}

.order .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.order .order-option {
  position: relative;
  display: inline-block;
  padding: 2rem;
}

.order .order-img {
  height: auto;
  width: 500px;
  opacity: 0.8;
}

.order .btn {
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 15px;
  border: 2px solid black;
  text-align: center;
}
