.order {
  height: 80vh;
  background-color: #ee9972;
}

.order .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.order .btn {
  height: 4rem;
  padding: 3rem;
}
